<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/shared/head %> 
    <% include ../../partials/shared/styles %>
    <link href="/css/user/user.css" rel="stylesheet" />
  </head>

  <body>
    <% include ../../partials/components/header %>

    <div class="user-profile-container container body-section">
      <h1 data-i18n="user profile | on user profile page" class="text-center"></h1>

      <form
        method="POST"
        action="/user/profile/update"
        enctype="multipart/form-data"
        class="user-items row justify-content-center"
      >
        <div class="user-avatar-container col-sm-4">
          <img
            class="user-avatar"
            src="<%= user.avatar %>"
            alt="placeholder"
          />
          <button 
            data-i18n="change avatar | on user profile page" 
            type="button" 
            id="avatarInputTrigger" 
            class="btn btn-primary btn-block"
          >
          </button>
        </div>
        <div class="col">
          <input
            id="avatarInput"
            name="avatar"
            type="file"
            class="form-control-file"
            accept="image/*"
          />

          <div class="row">
            <label 
              data-i18n="first name | on user profile page" 
              class="col-sm-2 col-form-label" 
              for="inputEmail"
            ></label>
            <div class="col">
              <input
                name="firstName"
                type="text"
                class="form-control"
                value="<%= user.firstName %>"
              />
            </div>
          </div>

          <div class="row">
            <label 
              data-i18n="last name | on user profile page"  
              class="col-sm-2 col-form-label" 
              for="inputEmail"
            ></label>
            <div class="col">
              <input
                name="lastName"
                type="text"
                class="form-control"
                value="<%= user.lastName %>"
              />
            </div>
          </div>

          <div class="row">
            <label data-i18n="gender | on user profile page"  for="gender" class="col-sm-2 col-form-label"></label>
            <div class="col">
              <select name="gender" class="form-control" id="gender">
                  <%
                  var options = [ "unspecified", "male", "female" ];
                  for ( var i = 0; i < options.length; i++ ) {
                    if (i === 0) {
                      var selected = ( !user.gender || user.gender === options[i] ) ? "selected" : "";
                    } else {
                      var selected = ( user.gender === options[i] ) ? "selected" : "";
                    }
                  %>
                    <option 
                      data-i18n="<%= options[i] %> | on user profile page" 
                      value="<%=options[i] %>" <%= selected %>
                    ></option>
                  <%}%>
              </select>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col row">
              <label 
                data-i18n="city | on user profile page" 
                class="col-sm-2 col-form-label" 
                for="inputEmail"
              >
                City
              </label>
              <div class="col">
                <input
                  readonly
                  id="city"
                  name="city"
                  type="text"
                  class="form-control"
                  value="<%= user.city %>"
                />
              </div>
            </div>

            <div class="col row">
              <label 
                data-i18n="state | on user profile page" 
                class="col-sm-2 col-form-label" 
                for="inputEmail"
              ></label>
              <div class="col">
                <input
                  readonly
                  id="state"
                  name="state"
                  type="text"
                  class="form-control"
                  value="<%= user.state %>"
                />
              </div>
            </div>

            <div data-i18n="locate me | on user profile page" id="locate-button" class="col-sm-2"></div>
            <div class="loader"></div> 
          </div>

          <div class="row justify-content-center">
            <button data-i18n="update | on user profile page" type="submit" class="btn btn-primary"></button>
          </div>
        </div>
      </form>

      <% include ../../partials/components/footer %>
    </div>

    <% include ../../partials/shared/scripts %>
    <script src="/js/home.js"></script>
    <script src="/js/user/user-profile.js"></script>
  </body>
</html>
